<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
        <a href="/new">Add a Pokemon</a>
    </nav>
    <h1>Pokemon Manager</h1>
    <ul>
      
      <%  for(let i = 0; i < data.length; i++) { %>
        <li>
          <h3> <%=data[i].name %></h3><br>
          <a href="/<%=i%>"><img src=" <%= data[i].img %>" /></a><br>
          <a href="/<%=i%>/edit">Edit  </a><a>  Delete</a>
        </li>
      <% } %>
    </ul>
  </body>
</html>