<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
      <h1>Pokemon Manager</h1>
      <a href="/new">Add a Pokemon</a>
    </nav>
    <section id="index-page">
      <ul>
      
      <%  for(let i = 0; i < data.length; i++) { %>
        <li>
          <h2> <%=data[i].name %></h2><br>
          <a href="/<%=i%>"><img src=" <%= data[i].img %>" /></a><br>
          <section id="ed-del">
          <form action="/<%=i%>/edit" method="GET">
            <input type="submit" value="EDIT" />
          </form>
          <form action="/<%=i%>?_method=DELETE" method="POST">
            <input type="submit"  value="DELETE" />
          </form>
        </section>
        </li>
      <% } %>
    </ul>
  </section>
  </body>
</html>

<section id="three-column">
  <header class="gray-box"></header>
  <section id="page-content">
      <aside class="gray-box"></aside>
      <main class="gray-box"></main>
      <aside class="gray-box"></aside>
  </section>
  <footer class="gray-box"></footer>
</section>