<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
        <a href="/new">Add a Pokemon</a>
    </nav>
    <h1>Pokemon Manager</h1>
    <h2> <%=data.name %> </h2>
    <img src=" <%= data.img %>" /><br>
    <ul><strong>Type</strong>
        <li><%= data.type[0] %></li>
        <li><%= data.type[1] %></li>
        <li><%= data.type[2] %></li>
    </ul>
        <ul><strong>Statistics</strong>
        <li>hp: <%= data.stats.hp %> <br></li>
        <li>attack: <%= data.stats.attack %> <br></li>
        <li>defense: <%= data.stats.defense %> <br></li>
        <li>spattack: <%= data.stats.spattack %> <br></li>
        <li>spdefense: <%= data.stats.spdefense %> <br></li>
        <li>speed: <%= data.stats.speed %> <br></li>
    </ul>
          
          <a href="/<%=index%>/edit">Edit  </a><a>  Delete</a>
        </li>
    </ul>
  </body>
</html>